<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto final</title>
    <!--insertar aqui el css-->
  </head>
  <body>

    <!--insertar aqui el js-->
    <div class="inicio_sesión"> <!--desaparece esto en cuanto se inicie sesion, manda alert si los datos no coinciden-->
        <form id="form_inicio-sesion" name="form_inicio_sesion">
         <input type="text" placeholder="inserte su usuario" id="user" name="user">
          <input type="text" placeholder="inserte su contraseña" id="contra" name="contra">
          <select name="lvl" id="lvl" name="lvl" required>
             <option value="administrador">Administrador</option>
              <option value="moderador">Moderador</option>
             <option value="usuario">Usuario</option>
           </select>
           <div id="Ingresar_usuario"><input type="submit">Enviar</div>
        </form>
    </div>
    <div class="crear_usuario"><!--desaparecer cuando se presione el boton Enviar (divAgregar.style.display ="none";) esto desaparece el div por si lo ocupan-->
        <form id="form_crear_sesion" name="form_crear_sesion">
        <input type="text" placeholder="inserte su usuario" id="user_crear" name="user_crear">
        <input type="text" placeholder="inserte su contraseña" id="contra_crear" name="contra_crear">
        <select name="lvl_crear" id="lvl_crear" required>
            <option value="administrador">Administrador</option>
            <option value="moderador">Moderador</option>
            <option value="usuario">Usuario</option>
        </select>
        <div id="mandar_usuario_crear"><input type="submit">Enviar</div>
    </form>
    </div>
  
    <div id="editar_usuarios"></div>

    <div class="objetos_perdidos">
        <div class="buscar_objeto">
             <div id="banner_objetos_perdidos"></div><!-- aquí es cosa del js, en teoria pensaba que apareciera un cuadrito con la publicacion y la imagen-->
        </div>
        <div class="publicar_objeto">
            <form class=" form_publicar_objeto" name="form_publicar_nombre">
                  <input type="text" name="nombre_objeto_perdido" placeholder="¿Qué encontraste?">
                  <input type="text" name="descripción_objeto_perdido" placeholder="Describelo">
                  <h5>¿Cuándo lo encontraste?</h5>
                  <input type="date" name="fecha_objeto_perdido">
                  <h5>Sube la foto del objeto</h5>
                  <input type="file" name="foto_objeto_perdido">
                  <div id="mandar_objeto_perdido"><input type="submit">Enviar</div>
            </form>
        </div>
     
    </div>
            
       
            <div class="ventas">
                <div class="buscar_vendedores">
                    <div id="banner_vendedores"></div> <!--lo mismo que arriba-->
                </div>
                <div>
                    <form class="form_publicar_vendedor" name="form_publicar_vendedor">
                          <input type="text" name="nombre_vendedor" placeholder="¿Qué vendes?">
                         <input type="text" name="descripción_vendedor" placeholder="Describelo">
                         <h5>¿Cuál es el precio?</h5>
                          <input type="number" name="precio_vendedor">
                          <h5>¿Cuándo puedes entregar?</h5>
                          <input type="date" name="fecha_vendedor" id="decha_vendedor">
                          <div id="mandar_vendedor"><input type="submit">Enviar</div>
                          <h5>¿Dónde puedes entregar?</h5>
                         <select name="entrega_vendedor" id="entrega_vendedor" required >
                           <option value="pimpos">Pimpos</option>
                           <option value="Patio_cuartos">Patio de cuartos</option>
                           <option value="Patio_quintos">Patio de quintos</option>
                           <option value="Patio_sextos">Patio de sextos</option>
                           <option value="Pulpo">El pulpo</option>
                           <option value="Letras">Las letras de la entrada</option>
                           <option value="Multicanchas">Multicanchas</option>
                        </select>
                        <div id="mandar_vendedor"><input type="submit">Enviar</div>
                    </form>
                </div>
            </div> 
    <div class="foros">
      <div class="buscar_foros">
        <div id="banner_foros"></div><!--lo mismo que arriba-->
      </div>
      <div class="crear_foro">
          <form name="form_crear_foro">
               <input type="text" name="nombre_foro" placeholder="¿Cómo se llama tu foro">
               <input type="text" name="tema_foro" id="tema_foro">
               <input type="checkbox" name="visibilidad" id="visibilidad"> ¿Quieres que sea privado?
               <div id="mandar_foro"><input type="submit">Enviar</div>
          </form>
      </div>
    </div>

  </body>
 <!-- //var datos = new FormData(formulario);
  var formulario =document.getElementById("formulario");   
  const materias =datos.get("");
  esto puede ayudar a recibir los gatos del form, en el espacio (datos.get("este espacio")) va lo que dice en name.
-->